<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FuelPOSsync.My.MySettings.ConnectionString" connectionString="Dsn=FuelPos" providerName="System.Data.Odbc"/>
        <add name="FuelPOSsync.My.MySettings.fuelpos_dbConnectionString" connectionString="Data Source=fuelpos-server.database.windows.net;Initial Catalog=fuelpos-db;Persist Security Info=True;User ID=Seiler_6;Password=Draugen2011" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
